{{% extends "layout.html" %}

{% block title %}
    Ways to Improve
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Day</th>
                <th>Activity</th>
                <th>Carbon Emission</th>
                <th>Total Emissions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>0</td>
            </tr>
        </tfoot>
        <tbody>
            {% for item in items%}

            <tr>
                <td>{{ item["day"] }}</td>
                <td>{{ item["activity"] }}</td>
                <td>{{ item["amount"] }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}